<div class="top-menu">
    <img class="logo" src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">
</div>

<div class="courses" #container *ngIf="courses[0] as course">
  <course-card
    (viewCourseClicked)="onViewCourseClicked($event)"
    [course]="course"
  >

    <div class="course-image" #imageContent>
      <img width="300" [alt]="course.description" [src]="course.iconUrl" />
      <h5>{{course.lessonsCount}} lessons</h5>
    </div>

    <div class="course-description">
      {{course.longDescription}}
    </div>
  </course-card>

  <course-card
    (viewCourseClicked)="onViewCourseClicked($event)"
    [course]="courses[1]"
  >
    <course-image [course]="courses[1]"></course-image>

    <div class="course-description">
      {{courses[1].longDescription}}
    </div>
  </course-card>
</div>
