<div class="top-menu">
    <img class="logo" src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">
</div>

<div class="courses" #container *ngIf="courses[0] as course">
  <course-card
    (viewCourseClicked)="onViewCourseClicked($event)"
    [course]="course"
  >

    <course-image [course]="course"></course-image>
    <course-image [course]="courses[1]"></course-image>
    <course-image [course]="courses[2]"></course-image>
    <div class="course-description">
      {{course.longDescription}}
    </div>
  </course-card>
</div>
